.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eae0de;
    height: 700px;
    width: 800px;
    margin: 175px auto;
    gap: 25px;
    border-radius: 10px;
    div{
        h1{
            @include titulo ;
            border-radius: 5px;
            padding: 7px 14px;
            margin: auto;
            font-weight: 300;
            font-size: 25px;
            width: 350px;
            text-align: center;
        }
    }
    .contacto{
        display: flex;
        flex-direction: column;
        label{
            @include titulo ;
            background: transparent;
            border: none;
            margin-left: 10px;
            color: $titulo;
        }
        input{
            @include titulo;
            padding: 5px 20px;
            width: 500px;
            
        }
        textarea{
            width: 500px;
            height: 150px;
            padding: 10px;
            color: $titulo;
            @include titulo;
        }
        .button-contacto{
            @include titulo ;
            padding: 4px 14px;
            width: 18.75rem;
        }
    }
}