header{
    .navbar{
        padding: 0px;
        margin: 0px;
        div{
            background-color: #eae0de;
            a{
                img{
                    width: 125px;
                    margin-left: 60px;
                }
            }
        }
    }
}