*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
    background-color: #f9f7f7;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #527167;
}
p{
    margin-bottom: 0px;
}
h1, h2, h3, h4{
    color: #527167;
    margin-bottom: 0px;
}