@font-face {
    font-family: poppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: playwrite;
    src: url("../assets/fonts/PlaywriteUSTrad-Regular.ttf");
}
@font-face {
    font-family: poppins-ligth;
    src: url("../assets/fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: poppins-extra-l;
    src: url("../assets/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: poppins-thin;
    src: url("../assets/fonts/Poppins-Thin.ttf");
}