@media screen and(max-width:800px){
    .tienda-principal{
    .tienda-principal-container{
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        div{
            a{
                .img-tineda-principal-container{
                    img{
                        width: 320px;
                        height: 450px;
                        }
                    }
                }
            }
        }
    }
    .lo-mas-vendido{
        height: auto;
        .lo-mas-vendido-img-container{
            display: none;
        }
    }
    .carrucel {
        display: inline;
        div{
            margin: 20px auto;
        }
    }
    .tienda-secundaria{
        div{
            a{
                .img-tienda-secundaria-container{
                    height: 450px;
                }
            }
        }
    }.producto-container{
        div{
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 30px;
        }
    }
    .producto-caracteristicas{
        display: flex;
        flex-direction: column;
        .producto-guia{
            flex-direction: row;
        }
        .producto-talle{
            flex-direction: row;
        }
    }
    .producto{
        section{
            div{
                height: auto;
                width: auto;
                img{
                    height: 600px;
                    width: auto;
                }
            }
        }
    }
    .fila-producto-2{
        width: 100% !important;
    }
}
