@media screen and(max-width:700px){
    .tienda-principal{
        .tienda-principal-container{
            grid-template-columns: repeat(2, 290px);
            grid-template-rows: repeat(3, auto);
            gap: 20px;
            div{
                a{
                    .img-tineda-principal-container{
                        img{
                            width: 290px;
                            height: 450px;
                            }
                        }
                    }
                }
            }
        }
    .tienda-secundaria{
        gap: 10px;
        div{
            a{
                .img-tienda-secundaria-container{
                    height: 400px;
                }
            }
        }
    }
    .titulo-fav-container{
        h1{
            width: 400px;
        }
    }
    .carro-container{
        max-width: 550px;
        padding: 10px;
        margin: 20px auto;
    }
    .contacto{
        width: auto;
        .contacto-label, .contacto-input{
            padding: 5px 20px;
            width: 400px !important;
        }
        textarea{
            width: 400px !important;
            height: auto;
            padding: 10px;
        }
        .button-contacto{
            padding: 4px 14px;
            width: 90%;
        }
    }
}