@media screen and(max-width:470px){
    .tienda-principal{
        margin: auto;
        .tienda-principal-container{
            grid-template-columns: auto;
            gap: 20px;
            margin: auto;
            margin-top: 15px;
            width: auto;
            div{
                a{
                    .img-tineda-principal-container{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .tienda-secundaria{
        div{
            .cartel-oferta-container{
                div{
                    .img-tienda-secundaria{
                        height: auto;
                    }
                }
                span{
                    right: 0px;
                }
            }
        }
    }
    .titulo-fav-container{
        h1{
            width: 300px;
        }
    }
    .titulo-carro-container{
        width: 250px;
    }
    .carro-container{
        max-width: 300px;
        min-width: 200px;
        div{
            div{
                margin: 15px;
                .producto-carro-nombre-container{
                    width: 250px;
                }
                div{
                    width: 200px;
                }
            }
        }
    }
    .gift-card-container{
        margin: 150px auto 0px auto;
        width: 370px;
        height: 100%;
        div{
            div{
                width: 370px;
                .gift-card-nombre{
                    background-color: #fff;
                    text-align: center;
                    margin: 20px auto;
                    width: auto;
                    h2{
                        width: 360px;
                        font-size: 20px;
                        font-weight: 400;
                        padding: 10px;
                    }
                }
                div{
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    height: auto;
                    width: 360px;
                    background-color: #fff;
                }
            }
        }
    }
    .iconos-container{
        div{
            text-align: center;
            margin: auto;
            display: flex;
            width: 90%;
            a{
                margin: auto;
                svg{
                    color: $titulo;
                    justify-content: center;
                    margin: 5px;
                }
            }
        }
        .ultimas-novedades{
            width: 90% !important;
            height: auto !important;
            display: flex;
            flex-direction: column;
            p{
                margin: auto;
                width: auto;
            }
            .email-container{
                background-color: transparent;
                margin: auto;
                .footer-button{
                    input {
                        display: inline-block;
                        margin: 0 !important;
                        border-radius: 8px;
                        padding: 5px;
                    }
                }
            }
        }
    }
    .producto{
        section{
            div{
                height: auto;
                width: auto;
                img{
                    height: 500px;
                    width: auto;
                }
            }
        }
    }
}