@media screen and (max-width:550px){
    .tienda{
        grid-template-columns: repeat(1, minmax(150px,auto));
        margin: 15px;
        gap: 25px;
        a{
            grid-column: span 1;
            height: 270px;
            .oferta-tienda{
                width: 100%;
                height: 250;
                img{
                    width: 95%;
                    height: 95%;
                }
            }
        }
    }
    .titulo-oferta-container{
        .titulo-oferta{
            width: 350px;
            margin: 17px auto;
            font-weight: 300;
        }
    }
    .form{
        height: 600px;
        width: 95%;
        div{
            h1{
            font-size: 18px;
            width: 270px;
            }
        }
    }
    .contacto{
        .contacto-label, .contacto-input{
            padding: 5px 20px;
            width: 300px !important;
        }
        textarea{
            width: 300px !important;
            height: auto;
            padding: 10px;
        }
        .button-contacto{
            padding: 4px 14px;
            width: 90%;
        }
    }
}