@media screen and (max-width:600px){
    .tienda-main{
        section{
            .fondo-pag-principal{
                .fondo-medio{
                    display: none;
                }
                .fondo-chico{
                    display: block;
                    margin-top: 0 !important;
                }
            }
        }
    }
    .tienda-principal{
        .tienda-principal-container{
            grid-template-columns: 420px;
            gap: 20px;
            div{
                a{
                    .img-tineda-principal-container{
                        img{
                            width: 420px;
                            height: 650px;
                            }
                        }
                    }
                }
            }
        }
    .tienda-secundaria{
        gap: 10px;
        .desaparece-tienda-secun-2{
            display: none;
        }
        div{
            a{
                .img-tienda-secundaria-container{
                    height: 600px;
                }
            }
        }
    }
    .favoritos{
        grid-template-columns: repeat(1, minmax(150px,auto));
        margin: 15px;
        gap: 25px;
    }
    .oferta-container{
        grid-template-columns: repeat(1, minmax(150px,840px));
        margin: 15px;
        gap: 25px;
    }
    .link-tienda-oferta{
        display: none;
    }
    .titulo-carro-container{
        width: 370px;
    }
    .carro-container{
        max-width: 450px;
        margin: auto;
        div{
            flex-direction: column;
            .img-carro-container{
                width: 270px;
                height: 350px;
                margin: auto;
            }
            div{
                margin: 15px;
                .producto-carro-nombre-container{
                    width: 300px;
                    margin: auto;
                }
                div{
                    gap: 0;
                    width: 300px;
                    margin: auto;
                    .producto-precio-container{
                        p{
                            margin: auto;
                            padding: 10px;
                            width: 100px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .carro-precio-final{
        flex-direction: row !important;
        margin: 40px auto 25px auto;
    }
}
