@media screen and(max-width:800px){
    .tienda-main{
        section{
            .fondo-pag-principal{
                background-image: url(../assets/imgs/fondo-celu.jpg);
                height: 90vh;
                background-position: center;
                h1{
                    display: none;
                }
            }
        }
    }
    .tienda-principal{
    .tienda-principal-container{
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        div{
            a{
                .img-tineda-principal-container{
                    img{
                        width: 320px;
                        height: 450px;
                        }
                    }
                }
            }
        }
    }
    .lo-mas-vendido{
        height: auto;
        .lo-mas-vendido-img-container{
            display: none;
        }
    }
    .carrucel {
        display: inline;
        div{
            margin: 20px auto;
        }
    }
    .tienda-secundaria{
        div{
            a{
                .img-tienda-secundaria-container{
                    height: 450px;
                }
            }
        }
    }
}
