@media screen and (max-width:1670px){
    .tienda-principal{
        margin: 10px auto;
        .tienda-principal-container{
            grid-template-columns: repeat(4, 340px);
            grid-template-rows: auto;
            justify-content: center;
            column-gap: 30px;
            div{
                a{
                    .img-tineda-principal-container{
                        img{
                            width: 340px;
                            height: 550px;
                        }
                    }
                }
            }
        }
    }
    .producto-tienda-container{
        a{
            div{
                div{
                    h3{
                        font-weight: 200;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

