@media screen and(max-width:900px){
    .tienda-principal{
        margin: 10px auto;
        .desaparece{
            display: inline;
        }
        .tienda-principal-container{
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: repeat(3, auto);
            gap: 20px;
            div{
                a{
                    .img-tineda-principal-container{
                        img{
                            width: 350px;
                            height: 500px;
                        }
                    }
                }
            }
        }
    }
    section{
        .lo-mas-vendido{
            div{
                .lmvd2{
                    display: none;
                }
            }
        }
    }
    .tienda-secundaria{
        div{
            a{
                .img-tienda-secundaria-container{
                    height: 500px;
                }
            }
        }
    }
    .carro-container{
        max-width: 650px;
        div{
            div{
                .producto-carro-nombre-container{
                    p{
                        width: 250px;
                        margin: auto;
                    }
                }
                div{
                    gap: 0px;
                    .producto-button-container{
                        margin: auto;
                        button{
                            border: none;
                            background: transparent;
                            color: #3f6153;
                        }
                    }
                    .producto-precio-container{
                        height: 50px;
                        p{
                            width: 110px;
                        }
                    }
                }
            }
        }
    }
}