/*UTILITIES*/
/*BASE*/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "poppins", sans-serif;
  background-color: #f9f7f7; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #527167; }

p {
  margin-bottom: 0px; }

h1, h2, h3, h4 {
  color: #527167;
  margin-bottom: 0px; }

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf); }

@font-face {
  font-family: playwrite;
  src: url(../assets/fonts/PlaywriteUSTrad-Regular.ttf); }

/*LAYOUT*/
.tienda-main section .fondo-pag-principal {
  background-image: url(../assets/imgs/fondopc.jpg);
  box-sizing: border-box;
  height: 100vh;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover; }
  .tienda-main section .fondo-pag-principal h1 {
    font-family: playwrite;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    padding: 20px; }

.tienda-principal {
  margin: 20px auto;
  width: 1560px; }
  .tienda-principal .desaparece {
    display: none; }
  .tienda-principal .tienda-principal-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(350px, auto));
    column-gap: 50px;
    width: 100%; }
    .tienda-principal .tienda-principal-container div a {
      display: inline-block;
      width: auto;
      height: 100%; }
      .tienda-principal .tienda-principal-container div a .img-tineda-principal-container {
        height: 550px;
        width: 100%;
        display: inline-block; }
        .tienda-principal .tienda-principal-container div a .img-tineda-principal-container img {
          width: 100%;
          height: 100%; }
        .tienda-principal .tienda-principal-container div a .img-tineda-principal-container h2 {
          text-align: center;
          padding: 5px auto;
          width: 100%;
          height: 40px;
          margin: 5px auto;
          border: 0.1px solid #527167;
          border-radius: 5px;
          font-weight: 400;
          background-color: #fff; }

.lo-mas-vendido {
  width: 100%;
  height: 230px; }
  .lo-mas-vendido a {
    color: #527167;
    background-color: #fff;
    border: 0.1px solid #527167;
    border-radius: 5px;
    padding: 4px 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px auto; }
  .lo-mas-vendido .lo-mas-vendido-img-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }
    .lo-mas-vendido .lo-mas-vendido-img-container .lo-mas-vendido-img img {
      width: 270px;
      max-width: 100%;
      height: 150px;
      object-fit: cover; }

.carrucel {
  display: none; }

.tienda-secundaria {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: auto;
  margin: auto; }
  .tienda-secundaria div {
    width: auto;
    height: auto; }
    .tienda-secundaria div a {
      display: inline-block;
      width: auto; }
      .tienda-secundaria div a .img-tienda-secundaria-container {
        width: 100%;
        height: 550px; }
        .tienda-secundaria div a .img-tienda-secundaria-container img {
          width: 100%;
          height: 100%; }
        .tienda-secundaria div a .img-tienda-secundaria-container h3 {
          width: auto;
          margin: 10px auto;
          padding: 5px;
          border: 0.1px solid #527167;
          border-radius: 5px;
          font-weight: 300;
          font-size: 25px;
          background-color: #fff;
          text-align: center; }

.tienda-secundaria div .cartel-oferta-container {
  position: relative; }
  .tienda-secundaria div .cartel-oferta-container span {
    position: absolute;
    margin: auto;
    height: 45px;
    top: 15px;
    right: -10px;
    color: #3f6153;
    font-size: 25px;
    text-align: center;
    background-color: #eae0de;
    padding: 5px 20px; }

.tienda {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, minmax(350px, auto));
  margin: 30px;
  gap: 20px; }
  .tienda .tienda-desaparece {
    display: none; }

.producto-tienda-container {
  height: 100%;
  width: auto; }
  .producto-tienda-container a {
    display: inline-block;
    height: 100%; }
    .producto-tienda-container a div div {
      height: 100%;
      width: 100%; }
      .producto-tienda-container a div div img {
        height: 100%;
        width: 100%; }
    .producto-tienda-container a div div {
      display: flex;
      gap: 10px; }
      .producto-tienda-container a div div h3 {
        border: 1px solid #3f6153;
        flex-grow: 1;
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 0px;
        margin: 5px auto;
        padding: 9px 0px; }
      .producto-tienda-container a div div button {
        border: none;
        background: transparent;
        color: #3f6153; }

.titulo-fav-container h1 {
  border: 1px solid #3f6153;
  background-color: #fff;
  text-align: center;
  width: 500px;
  margin: 25px auto;
  font-weight: 400; }

.favoritos {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, minmax(350px, auto));
  margin: 30px;
  gap: 20px; }
  .favoritos .desaparece-fav {
    display: none; }
  .favoritos div div {
    position: relative;
    margin: none; }
    .favoritos div div button {
      position: absolute;
      border: none;
      background: transparent;
      color: #3f6153;
      right: 0;
      top: -2px; }
    .favoritos div div img {
      width: 100%;
      height: auto; }
  .favoritos div a {
    display: inline-block;
    width: 100%; }
    .favoritos div a .titulo-fav-producto {
      width: 100%;
      font-weight: 200;
      font-size: 25px;
      border: 1px solid #3f6153;
      background-color: #fff;
      text-align: center;
      margin: 5px auto;
      padding: 5px 10px; }

div .titulo-oferta {
  border: 1px solid #3f6153;
  text-align: center;
  background-color: #fff;
  width: 500px;
  margin: 25px auto;
  font-weight: 500; }

.oferta-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, minmax(350px, auto));
  margin: 30px;
  gap: 20px; }
  .oferta-container .desaparece-fav {
    display: none; }
  .oferta-container div div {
    position: relative; }
    .oferta-container div div div {
      position: absolute;
      display: flex;
      background-color: #eae0de;
      color: #3f6153;
      top: 17px;
      right: -10px;
      width: 100px;
      height: 40px; }
      .oferta-container div div div p {
        margin: auto;
        font-size: 20px;
        font-weight: 500; }
    .oferta-container div div a img {
      width: 100%;
      height: 100%; }
  .oferta-container div div {
    display: flex;
    width: auto; }
    .oferta-container div div a {
      width: 100%; }
      .oferta-container div div a h2 {
        border: 1px solid #3f6153;
        flex-grow: 1;
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 0px;
        margin: 5px auto;
        margin-right: 5px;
        padding: 5px 10px; }
    .oferta-container div div button {
      border: none;
      background: transparent;
      color: #3f6153; }

.titulo-carro-container {
  margin: 40px auto;
  width: 31.25rem;
  border: 1px solid #3f6153;
  background-color: #fff;
  text-align: center; }
  .titulo-carro-container h1 {
    margin-bottom: 0px; }

.carro-container {
  max-width: 1000px;
  min-width: 400px;
  height: auto;
  margin: auto;
  background-color: #eae0de;
  padding: 20px;
  border-radius: 10px; }
  .carro-container div {
    display: flex;
    justify-content: space-evenly; }
    .carro-container div .img-carro-container {
      width: 210px;
      height: 260px;
      margin: 10px 0px 10px 0px; }
      .carro-container div .img-carro-container img {
        width: 100%;
        height: 100%; }
    .carro-container div div {
      flex-direction: column;
      justify-content: center; }
      .carro-container div div .producto-carro-nombre-container {
        display: flex;
        border: 1px solid #3f6153;
        color: #3f6153;
        background-color: #fff; }
        .carro-container div div .producto-carro-nombre-container p {
          width: 300px;
          margin: auto;
          padding: 10px;
          text-align: center; }
      .carro-container div div div {
        flex-direction: row;
        gap: 20px; }
        .carro-container div div div .producto-button-container {
          margin: auto; }
          .carro-container div div div .producto-button-container button {
            border: none;
            background: transparent;
            color: #3f6153; }
        .carro-container div div div .producto-precio-container {
          border: 1px solid #3f6153;
          color: #3f6153;
          background-color: #fff;
          margin: 10px; }
          .carro-container div div div .producto-precio-container p {
            margin: auto;
            padding: 10px;
            width: 200px;
            text-align: center; }

.precio-linea {
  width: 85%;
  margin: auto;
  border: .5px solid #000; }

.carro-precio-final {
  display: flex;
  margin: 40px auto 25px auto;
  background: #fff;
  justify-content: space-between;
  width: 80%;
  height: 50px;
  border: 1px solid #3f6153; }
  .carro-precio-final .precio-final {
    flex-direction: row;
    margin-bottom: 0px;
    margin: auto;
    color: #3f6153; }

.gift-card-container {
  margin: 100px auto;
  width: 1300px;
  height: 100%; }
  .gift-card-container div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 50px; }
    .gift-card-container div div {
      border-radius: 10px;
      background-color: #eae0de;
      display: flex;
      flex-direction: column;
      gap: 1px; }
      .gift-card-container div div .gift-card-nombre {
        background-color: #fff;
        text-align: center;
        margin: 20px auto; }
        .gift-card-container div div .gift-card-nombre h2 {
          font-size: 20px;
          font-weight: 400;
          padding: 10px; }
      .gift-card-container div div div {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        width: 500px;
        background-color: #fff; }
        .gift-card-container div div div .gift-card-text {
          text-align: center; }
          .gift-card-container div div div .gift-card-text p {
            font-size: 20px;
            color: #3f6153; }
        .gift-card-container div div div .gift-card-precio {
          flex-direction: row; }
          .gift-card-container div div div .gift-card-precio p {
            color: #3f6153; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eae0de;
  height: 700px;
  width: 800px;
  margin: 75px auto;
  gap: 25px; }
  .form div h1 {
    border-radius: 5px;
    padding: 7px 14px;
    margin: auto;
    font-weight: 300;
    font-size: 25px;
    width: 350px;
    text-align: center; }
  .form .contacto {
    display: flex;
    flex-direction: column; }
    .form .contacto label {
      background: transparent;
      border: none;
      margin-left: 10px; }
    .form .contacto input {
      border-radius: 11.5px;
      padding: 5px 20px;
      width: 500px; }
    .form .contacto textarea {
      width: 500px;
      height: 150px;
      border-radius: 5px;
      padding: 10px; }
    .form .contacto .button-contacto {
      border-radius: 11.5px;
      padding: 4px 14px;
      width: 18.75rem; }

footer {
  background-color: #eae0de;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  position: end; }
  footer .footer-container {
    display: flex;
    justify-content: space-evenly; }
    footer .footer-container div .footer-logo-container a .footer-logo {
      width: 275px;
      margin-top: 30px; }
    footer .footer-container div div ul li a {
      color: #3f6153; }
    footer .footer-container .mapa p {
      margin: 20px auto;
      text-align: center; }
    footer .footer-container .iconos-container div {
      background-color: #fff;
      text-align: center;
      margin: 20px auto;
      display: flex; }
      footer .footer-container .iconos-container div a {
        margin: auto; }
        footer .footer-container .iconos-container div a svg {
          color: #3f6153;
          justify-content: center;
          margin: 5px; }
    footer .footer-container .iconos-container .ultimas-novedades {
      background-color: #fff;
      width: 370px;
      height: 150px;
      display: flex;
      flex-direction: column; }
      footer .footer-container .iconos-container .ultimas-novedades p {
        color: #3f6153;
        margin: 10px;
        width: auto; }
      footer .footer-container .iconos-container .ultimas-novedades .email-container {
        background-color: transparent;
        margin: auto; }
        footer .footer-container .iconos-container .ultimas-novedades .email-container .footer-email input {
          font-weight: 400;
          background-color: #f9f7f7;
          border: 1px solid #3f6153;
          color: #3f6153;
          border-radius: 8px;
          width: 230px;
          padding-left: 10px; }
        footer .footer-container .iconos-container .ultimas-novedades .email-container .footer-button input {
          display: inline-block;
          margin: auto 20px;
          background-color: #f9f7f7;
          border: 1px solid #3f6153;
          color: #3f6153;
          border-radius: 8px;
          padding: 5px; }

/*COMPONENTS*/
header .navbar {
  padding: 0px;
  margin: 0px; }
  header .navbar div {
    background-color: #eae0de; }
    header .navbar div a img {
      width: 125px;
      margin-left: 60px; }

.nav-tienda {
  margin: 25px auto; }
  .nav-tienda ul li a {
    letter-spacing: 3px; }
  .nav-tienda form {
    margin-top: 10px; }

/*QUERIS*/
@media screen and (max-width: 1670px) {
  .tienda-principal {
    margin: 20px auto;
    width: 1560px; }
    .tienda-principal .desaparece {
      display: none; }
    .tienda-principal .tienda-principal-container {
      display: grid;
      grid-template-columns: repeat(4, minmax(300px, auto));
      grid-template-rows: 1fr;
      column-gap: 50px;
      width: 100%; }
      .tienda-principal .tienda-principal-container div {
        width: 100%; }
        .tienda-principal .tienda-principal-container div a {
          display: inline-block;
          width: auto;
          height: 100%; }
          .tienda-principal .tienda-principal-container div a .img-tineda-principal-container {
            height: 500px;
            width: 100%;
            display: inline-block; }
            .tienda-principal .tienda-principal-container div a .img-tineda-principal-container img {
              width: 100%;
              height: 100%; }
            .tienda-principal .tienda-principal-container div a .img-tineda-principal-container h2 {
              text-align: center;
              padding: 5px auto;
              width: 100%;
              height: 40px;
              margin: 5px auto;
              border: 0.1px solid #527167;
              border-radius: 5px;
              font-weight: 400;
              background-color: #fff; }
  .producto-tienda-container a div div h3 {
    font-weight: 200;
    font-size: 20px; } }

@media screen and (max-width: 1540px) {
  .tienda {
    grid-template-columns: repeat(4, minmax(250px, auto));
    margin: 30px;
    gap: 20px; }
  .producto-tienda-container a div div h3 {
    font-weight: 200;
    font-size: 18px; }
  .favoritos {
    grid-template-columns: repeat(4, minmax(250px, auto));
    margin: 30px;
    gap: 20px; }
  div a h2 {
    font-weight: 200;
    font-size: 18px; }
  .oferta-container {
    grid-template-columns: repeat(4, minmax(250px, auto));
    margin: 30px;
    gap: 15px; }
    .oferta-container div div a h2 {
      font-weight: 200;
      font-size: 20px; } }

@media screen and (max-width: 1400px) {
  .gift-card-container {
    height: 100%;
    width: 100%; }
    .gift-card-container div {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto); }
      .gift-card-container div div {
        width: 550px; } }

@media screen and (max-width: 1200px) {
  .tienda {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(300px, auto));
    margin: 18px;
    gap: 13px; }
    .tienda .tienda-desaparece {
      display: inline; }
  .favoritos {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(300px, auto));
    margin: 18px;
    gap: 13px; }
    .favoritos .desaparece-fav {
      display: inline-block; }
  .oferta-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(300px, auto));
    margin: 18px;
    gap: 13px; }
    .oferta-container .desaparece-fav {
      display: inline-block; }
    .oferta-container div div a h2 {
      font-weight: 200;
      font-size: 22px; }
  .carro-container {
    max-width: 800px;
    min-width: 400px; }
  .gift-card-container {
    height: 100%;
    width: 100%; }
    .gift-card-container div {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto); }
      .gift-card-container div div {
        width: 450px; }
        .gift-card-container div div .gift-card-nombre {
          width: 420px; }
        .gift-card-container div div div {
          width: 420px; } }

@media screen and (max-width: 1100px) {
  .tienda-principal {
    margin: 15px; }
    .tienda-principal div {
      display: flex;
      gap: 15px; }
      .tienda-principal div div a .img-tineda-principal-container {
        height: 500px; }
  .tienda-secundaria div a .img-tienda-secundaria-container {
    width: 100%;
    height: 400px; } }

@media screen and (max-width: 1000px) {
  .tienda {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, minmax(250px, auto));
    margin: 15px;
    gap: 10px; }
  footer .footer-container {
    flex-wrap: wrap;
    padding: 50px 0px; }
    footer .footer-container div .iconos-container {
      width: 500px; }
  .favoritos {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, minmax(250px, auto));
    margin: 15px;
    gap: 10px; }
  .titulo-oferta-container .titulo-oferta {
    width: 450px; }
  .oferta-container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, minmax(250px, auto));
    margin: 15px;
    gap: 10px; }
  .gift-card-container {
    margin: 50px auto 0px auto;
    width: 450px;
    height: 100%; }
    .gift-card-container div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      width: auto;
      gap: 50px; } }

@media screen and (max-width: 900px) {
  .carro-container {
    max-width: 650px; }
    .carro-container div div .producto-carro-nombre-container p {
      width: 250px;
      margin: auto; }
    .carro-container div div div {
      gap: 0px; }
      .carro-container div div div .producto-button-container {
        margin: auto; }
        .carro-container div div div .producto-button-container button {
          border: none;
          background: transparent;
          color: #3f6153; }
      .carro-container div div div .producto-precio-container {
        height: 50px; }
        .carro-container div div div .producto-precio-container p {
          width: 110px; } }

@media screen and (max-width: 700px) {
  .titulo-fav-container h1 {
    width: 400px; }
  .carro-container {
    max-width: 550px;
    padding: 10px;
    margin: 20px auto; } }

@media screen and (max-width: 600px) {
  .favoritos {
    grid-template-columns: repeat(1, minmax(150px, auto));
    margin: 15px;
    gap: 25px; }
  .oferta-container {
    grid-template-columns: repeat(1, minmax(150px, auto));
    margin: 15px;
    gap: 25px; }
  .titulo-carro-container {
    width: 370px; }
  .carro-container {
    max-width: 450px;
    margin: auto; }
    .carro-container div {
      flex-direction: column; }
      .carro-container div .img-carro-container {
        width: 270px;
        height: 350px;
        margin: auto; }
      .carro-container div div {
        margin: 15px; }
        .carro-container div div .producto-carro-nombre-container {
          width: 300px;
          margin: auto; }
        .carro-container div div div {
          gap: 0;
          width: 300px;
          margin: auto; }
          .carro-container div div div .producto-precio-container p {
            margin: auto;
            padding: 10px;
            width: 100px;
            text-align: center; }
  .carro-precio-final {
    flex-direction: row !important;
    margin: 40px auto 25px auto; } }

@media screen and (max-width: 550px) {
  .tienda {
    grid-template-columns: repeat(1, minmax(150px, auto));
    margin: 15px;
    gap: 25px; }
  .titulo-oferta-container .titulo-oferta {
    width: 350px;
    margin: 17px auto;
    font-weight: 300; } }

@media screen and (max-width: 470px) {
  .titulo-fav-container h1 {
    width: 300px; }
  .titulo-carro-container {
    width: 250px; }
  .carro-container {
    max-width: 300px;
    min-width: 200px; }
    .carro-container div div {
      margin: 15px; }
      .carro-container div div .producto-carro-nombre-container {
        width: 250px; }
      .carro-container div div div {
        width: 200px; }
  .gift-card-container {
    margin: 50px auto 0px auto;
    width: 370px;
    height: 100%; }
    .gift-card-container div div {
      width: 370px; }
      .gift-card-container div div .gift-card-nombre {
        background-color: #fff;
        text-align: center;
        margin: 20px auto;
        width: auto; }
        .gift-card-container div div .gift-card-nombre h2 {
          width: 360px;
          font-size: 20px;
          font-weight: 400;
          padding: 10px; }
      .gift-card-container div div div {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        width: 360px;
        background-color: #fff; } }
